.bg {
  background-image: url("../assests/profile/car-1.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-edu {
  background-image: url("../assests/profile/edu.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-tr {
  background-image: url("../assests/profile/TR.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-pr {
  background-image: url("../assests/profile/PR-2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-faq {
  background-image: url("../assests/profile/FAQ.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.c {
  background-image: url("../assests/profile/c1u.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.c2 {
  background-image: url("../assests/profile/exam_c.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.certificate-bg{
  background-image: url("../assests/c1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.gpdx-bg{
  background-image: url("../assests/profile/gpdx2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.career{
  background-image: url("../assests/profile/fast.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-sch{
  background-image: url("../assests/profile/sch-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-sch-form{
  background-image: url("../assests/profile/sch-form.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 70%;
}
.bg-chart{
  background-image: url("../assests/profile/chart.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-week{
  background-image: url("../assests/profile/pg-weekend.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.certificate-container {
  width: 980px; 
  height: 700px; 
  position: relative;
}

.pdf-page {
  page-break-after: always;
  padding: 20px;
  /* margin-bottom: 20px;
  border-bottom: 2px dashed gray; */
}

@media print {
  .pdf-page {
    page-break-after: always;
  }
}


.c2name{
  font-family: 'Berlin Sans FB demi';
}
.bg-1 {
  background-image: url("../assests/profile/plastic.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.bg-2 {
  background-image: url("../assests/profile/BIW.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.bg-3 {
  background-image: url("../assests/profile/master.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.loader {
  background: url("../assests/brand-1.png");
  
}

/* .react-datepicker-wrapper,
.react-datepicker__input-container input {
  border: none !important; 
  outline: none !important; 
  box-shadow: none; 
  background: transparent; 
} */

/* @keyframes spin {

  0% { transform: rotate(0deg); }

  100% { transform: rotate(360deg); }
} */

/* html, body {
  overflow-x: hidden;
  overflow-y: auto;
} */

/* nav {
  position: relative;
  z-index: 50; 
} */

/* .dropdown {
  z-index: 1050;
  position: absolute;
  background: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
} */


 

/* whychoose */

.bg-ch {
  background-image: url("../assests/bg-ch.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}


.bg-world {
  background-image: url("../assests/profile/Google_Map_Pins.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}


.animate-visible {
  opacity: 1;
  transform: translateY(0);
}
