.bg-contact{
    background-image: url("../assests/Mask.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bg-image{
    background-image: url("../assests/r.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
}

.banner {
    background-image: url("../assests/Frame.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.tx{
    text-shadow: rgb(78 8 88) 0 3px 4px;
}

.card {
    position: relative;
    border: 2px solid #c3c6ce;
    transition: 0.5s ease-out;
    overflow: visible;
    background: rgb(236 236 236);
    box-shadow: rgb(0 0 0 / 40%) 0 2px 4px, rgb(0 0 0 / 30%) 0 7px 13px -3px, rgb(0 0 0 / 20%) 0 -3px 0 inset;
   }
   
   .card-details {
    color: black;
    height: 100%;
    gap: .5em;
    display: grid;
    place-content: center;
   }
   
   .card-button {
    transform: translate(-50%, 125%);
    width: 60%;
    border-radius: 1rem;
    border: none;
    background-color: #008bf8;
    color: #fff;
    font-size: 1rem;
    padding: .5rem 1rem;
    position: absolute;
    left: 50%;
    bottom: 0;
    opacity: 0%;
    transition: 0.3s ease-out;
   }
   
   .text-body {
    color: rgb(134 134 134);
   }
   
   /* Text */

   .text-title {
    font-size: 1.5em;
    font-weight: bold;
   }
   
   /* Hover */

   .card:hover {
    border-color: #008bf8;
    box-shadow: 0 4px 18px 0 rgb(0 0 0 / 25%);
   }
   
   .card:hover .card-button {
    transform: translate(-50%, 50%);
    opacity: 100%;
   }


