/* Tailwind base, components, and utilities */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font-face declaration */
@font-face {
  font-family: 'Brush Script MT';
  src: url('/fonts/BrushScriptMT.woff2') format('woff2'),
       url('/fonts/BrushScriptMT.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Apply font to specific class */
.cname {
  font-family: "Brush Script MT", cursive;
}

body {
  background-color: white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
