@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lexend:wght@100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.cdnfonts.com/css/garet?display=swap');
@import url('https://db.onlinewebfonts.com/c/dd98d11272072fd1f3c61b727b0e75e9?family=Vanquish+W00+Bold');
@import url('https://db.onlinewebfonts.com/c/9da48937a30c6a2bd2080118dc71cb23?family=Today+Sans+Serif+Bold');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font-face declaration */
/* @font-face {
  font-family: 'Brush Script MT';
  src: url('/fonts/BrushScriptMT.woff2') format('woff2'),
       url('/fonts/BrushScriptMT.woff') format('woff');
  font-weight: normal;
  font-style: normal;
} */
/* 
 */

 .garet{
  font-family: 'Garet', sans-serif;
  font-weight: 500;
}

/* Mont Heavy Demo - Custom Font */
/* @font-face {
  font-family: 'Mont Heavy Demo';
  src: url('/fonts/MontHeavyDemo.woff2') format('woff2'),
       url('/fonts/MontHeavyDemo.woff') format('woff');
  font-weight: normal;
  font-style: normal;
} */


/* Classes for Specific Fonts */

.vanquish{
  font-family: 'Vanquish W00 Bold';
}
.today-sans-serif {
  font-family: 'Today Sans Serif Bold';
}

.josefin-sans {
  font-family: "Josefin Sans", serif;
}

.nunito-sans {
  font-family: "Nunito Sans", serif;
}

/* Apply font to specific class */
.cname {
  font-family: "Brush Script MT", cursive;
}

body {
  background-color: white;
}


/* tailwind.config.css or use in globals */
.input-style {
  @apply w-full border border-gray-300 rounded px-4 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
